<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033255648597-eusqmm4v6uq59ftveqssarfapq2bmdq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033255648597-eusqmm4v6uq59ftveqssarfapq2bmdq2</string>
	<key>API_KEY</key>
	<string>AIzaSyA3dazpYt1oRXRu3aPkNUsDcVuKU1V0Wrw</string>
	<key>GCM_SENDER_ID</key>
	<string>1033255648597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoC7Mon</string>
	<key>PROJECT_ID</key>
	<string>todo-5f27c</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-5f27c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033255648597:ios:603607a4d93b2dc08383dc</string>
</dict>
</plist>